In [1]:
import numpy as np
import pandas as pd

#model selection
from sklearn.model_selection import train_test_split

#metrics
from sklearn import metrics

#model
from sklearn.linear_model import LogisticRegression

#visualization
from IPython.display import Image
import pydotplus

## Import dataset

In [2]:
data = pd.read_csv('./../../dataset/telcoChurn.csv')
data.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

## Imputing null values

**Replacing null values for -1 for this case**

In [4]:
data['TotalCharges'] = data['TotalCharges'].replace(' ', -1).astype(float)

## Turning categorical variables into Dummies

In [5]:
cat_var = ['gender', 'Partner', 'Dependents', 'PhoneService','MultipleLines', 'InternetService',
           'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
           'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
           'PaymentMethod']

In [17]:
categorical_df = data[cat_var]
categorical_df.head(3)

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check

In [18]:
data = data.drop(cat_var, axis=1)

In [20]:
for var in cat_var:
    dummy = pd.get_dummies(categorical_df[var], prefix=var)
    data1 = data.join(dummy, lsuffix='left')
data = data1
data.head(3)

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,PaymentMethod_Bank transfer (automatic)_left,PaymentMethod_Credit card (automatic)_left,PaymentMethod_Electronic check_left,PaymentMethod_Mailed check_left,...,PaymentMethod_Electronic checkleft,PaymentMethod_Mailed checkleft,PaymentMethod_Bank transfer (automatic)left,PaymentMethod_Credit card (automatic)left,PaymentMethod_Electronic checkleft,PaymentMethod_Mailed checkleft,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,29.85,29.85,No,0,0,1,0,...,1,0,0,0,1,0,0,0,1,0
1,5575-GNVDE,0,34,56.95,1889.50,No,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,3668-QPYBK,0,2,53.85,108.15,Yes,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1